body {
    background-color: aquamarine;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    font-size: 8vmin;
    color: red;
    background-color: rgb(166, 130, 200);
}

#reset {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
}

#new-game {
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    background-color: black;
    color: white;
}

.msg {
    font-size: 4rem;
    color: rgb(144, 222, 66);
}

.winnerInfo {
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.hide {
    display: none;
}